#tambahSiswa{
  .custom-tambahSiswa{
    .in-card{
      .in-body{
        form{
          .form-row{
            .col-md-4{
              input{
                
              }
            }
          }
          .btn{
            border-radius: 25px;
            padding: 10px;
            background-color: $thirdColor;
          }
        }
      }
    }
    .layout-alert{
      margin-top: -300px;
      .alert-berhasil{
        background-color: #fff;
        border-color: $thirdColor;
        h4{
          margin-top: 15px;
        }
        a{
          background-color: $primaryColor;
          color: #fff;
        }
      }
      .alert-gagal{
        background-color: #fff;
        border-color: $redColor;
        h4{
          margin-top: 15px;
        }
        a{
          background-color: $primaryColor;
          color: #fff;
        }
      }
    }
  }
}