@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

#login {
  background-color: #defcff;
  padding: 150px;
}

#login .custom-login {
  margin-bottom: 50px;
  margin-right: 50px;
}

#login .form-layout .form-custom {
  margin-left: 50px;
  margin-top: 20px;
}

#login .form-layout .form-custom h1 {
  font-weight: 600;
  margin-bottom: 20px;
  color: #002652;
}

#login .form-layout .form-custom p {
  margin-bottom: 20px;
  color: #002652;
}

#login .form-layout .form-custom form input {
  border-style: none;
}

#login .form-layout .form-custom form .btn-login {
  background-color: #42adff;
  color: white;
  margin-top: 5px;
}

#login .form-layout .form-custom form .btn-loginAdmin {
  border-color: #002652;
  color: #002652;
  margin-left: 20px;
  margin-top: 5px;
}

#login .image img {
  margin-left: 100px;
  width: 250px;
}

#loginAdmin .card {
  margin-top: 150px;
}

#loginAdmin .card .card-body .container .row .image img {
  width: 400px;
}

#loginAdmin .card .card-body .container .row .custom-login form h2 {
  font-weight: 600;
}

#loginAdmin .card .card-body .container .row .custom-login form button {
  background-color: #42adff;
  color: white;
  border-radius: 30px;
  margin-top: 5px;
}

#loginAdmin .card .card-body .container .row .custom-login form a {
  border-color: #002652;
  color: #002652;
  margin-left: 20px;
  border-radius: 30px;
}

#dashboard-siswa .custom-dashboard .custom-form h2 {
  font-weight: 600;
}

#dashboard-siswa .custom-dashboard .custom-form input {
  border-style: none;
}

#dashboard-siswa .custom-dashboard .custom-form .btn {
  background-color: #42fff3;
  color: white;
}

#dashboard-siswa .custom-dashboard table tbody td .btn {
  background-color: #42adff;
  color: white;
}

nav {
  background-color: #42fff3;
}

nav .brand .navbar-brand {
  font-weight: 600;
}

nav .brand #navbarNavAltMarkup .navbar-nav .nav-item {
  color: black;
}

nav .brand #navbarNavAltMarkup .navbar-nav .btn {
  background-color: #e32309;
  color: white;
}

#dashboard-admin .custom-dashboard .custom-form h2 {
  font-weight: 600;
}

#dashboard-admin .custom-dashboard .custom-form input {
  border-style: none;
}

#dashboard-admin .custom-dashboard .custom-form .btn {
  background-color: #42fff3;
  color: white;
}

#dashboard-admin .custom-dashboard table thead tr th a {
  background-color: #42adff;
  color: white;
}

#dashboard-admin .custom-dashboard table tbody td .edit {
  border-color: #42adff;
  color: #42adff;
}

#dashboard-admin .custom-dashboard table tbody td .hapus {
  border-color: #e32309;
  color: #e32309;
}

#tambahSiswa .custom-tambahSiswa .in-card .in-body form .layout-btn .btn {
  border-radius: 25px;
  padding: 10px;
  background-color: #42fff3;
  color: #fff;
}

#tambahSiswa .custom-tambahSiswa .layout-alert {
  margin-top: -300px;
}

#tambahSiswa .custom-tambahSiswa .layout-alert .alert-berhasil {
  background-color: #fff;
  border-color: #42fff3;
}

#tambahSiswa .custom-tambahSiswa .layout-alert .alert-berhasil h4 {
  margin-top: 15px;
}

#tambahSiswa .custom-tambahSiswa .layout-alert .alert-berhasil a {
  background-color: #42adff;
  color: #fff;
}

#tambahSiswa .custom-tambahSiswa .layout-alert .alert-gagal {
  background-color: #fff;
  border-color: #e32309;
}

#tambahSiswa .custom-tambahSiswa .layout-alert .alert-gagal h4 {
  margin-top: 15px;
}

#tambahSiswa .custom-tambahSiswa .layout-alert .alert-gagal a {
  background-color: #42adff;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */